//Colors
$clr-accent-300: hsl(180, 100%, 60%);
$clr-accent-400: hsl(180, 60%, 50%);

$clr-neutral-100: hsl(0, 0%, 99%);
$clr-neutral-200: hsl(0, 0%, 80%);
$clr-neutral-300: hsl(0, 0%, 66%);
$clr-neutral-400: hsl(0, 0%, 50%);
$clr-neutral-500: hsl(0, 0%, 33%);
$clr-neutral-600: hsl(0, 0%, 16%);
$clr-neutral-700: hsl(0, 0%, 11%);
$clr-neutral-900: hsl(0, 0%, 0%);

// Font Family
$ff-primary: Roboto, Arial, sans-serif;

// Font Weight
$fw-reg: 400;
$fw-bold: 700;

// Font Sizing
$fs-200: clamp(0.63rem, calc(0.82rem + -0.16vw), 0.79rem);
$fs-300: clamp(0.75rem, calc(0.9rem + 0.04vw), 0.95rem);
$fs-400: clamp(0.9rem, calc(0.98rem + 0.13vw), 1.13rem);
$fs-500: clamp(1.13rem, calc(1.05rem + 0.37vw), 1.5rem);
$fs-600: clamp(1.27rem, calc(1.12rem + 0.73vw), 2rem);
$fs-700: clamp(1.42rem, calc(1.18rem + 1.24vw), 2.66rem);
$fs-800: clamp(1.6rem, calc(1.21rem + 1.95vw), 3.55rem);
$fs-900: clamp(1.8rem, calc(1.22rem + 2.93vw), 4.74rem);

// Spacing
$spc-100: clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem);
$spc-200: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
$spc-300: clamp(0.75rem, calc(0.68rem + 0.38vw), 1.13rem);
$spc-400: clamp(1rem, calc(0.86rem + 0.69vw), 1.69rem);
$spc-500: clamp(1.5rem, calc(1.35rem + 0.75vw), 2.25rem);
$spc-600: clamp(2rem, calc(1.73rem + 1.38vw), 3.38rem);
$spc-700: clamp(3rem, calc(2.7rem + 1.5vw), 4.5rem);
$spc-800: clamp(4rem, calc(3.45rem + 2.75vw), 6.75rem);

$app-padding: clamp(0.5rem, calc(0.1rem + 1.75vw), 2.25rem);

// Misc
$border-radius: 8px;
$shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
$square-size: clamp(2rem, 0.25rem + 3vw, 4rem);

body {
  display: flex;
  flex-direction: column;

  font-family: $ff-primary;
  font-size: $fs-400;
  background-color: $clr-neutral-200;
}

/***---HEADER---***/

header {
  position: relative;
  z-index: 1;
  background-color: $clr-neutral-400;
}

.header-wrapper {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spc-300);
  box-shadow: 6px 0px 12px rgba(0, 0, 0, 0.4);
}

/***---APP---***/

#app {
  display: grid;
  gap: $spc-600;
  margin-block: $spc-600;
}

/***---CONTROLS---***/

.controls-wrapper {
  display: flex;
  justify-content: center;
}

/***---GAME---***/

.game {
  display: flex;
  justify-content: center;
  gap: $spc-400;
}

.game-ui.active {
  .player-name {
    background-color: yellow;
  }
}

.game-ui {
  width: calc($square-size * 10);
}

.squares-wrapper {
  display: flex;
  flex-wrap: wrap;
  aspect-ratio: 1 / 1;

  outline: 2px solid $clr-accent-300;
  border-radius: 8px;
  overflow: hidden;

  .square {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $clr-neutral-100;
    background-color: $clr-neutral-500;
    outline: 2px solid $clr-accent-400;
    user-select: none;

    width: $square-size;
    aspect-ratio: 1 / 1;

    &.drop-hover {
      background-color: $clr-neutral-700;
    }

    &:hover:not(.hit):not(.miss):not(.sunk) {
      // filter: brightness(1.2);

      background-color: $clr-neutral-400;
    }

    &.drop-hover.invalid {
      background-color: red;
    }

    &.hit {
      background-color: red;
    }

    &.miss {
      background-color: white;
    }

    &.sunk {
      background-color: blue;
    }
  }
}

/***---DRAGGABLE SHIPS---***/

.ships-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $spc-100;
  margin-top: $spc-200;
}

.ship {
  display: flex;
  flex-direction: column;
  height: min-content;

  outline: 2px solid red;
  border-radius: 8px;
  overflow: hidden;

  div {
    width: $square-size;
    aspect-ratio: 1 / 1;
    color: $clr-neutral-100;
    background-color: $clr-neutral-500;
    outline: 2px solid red;
  }

  &.horizontal {
    flex-direction: row;
    max-height: $square-size;
  }

  &.mock {
    border: 2px solid red;
    position: absolute;
    left: -500px;
  }
}

/***---FOOTER---***/

footer {
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

#copyright {
  font-size: 1.24rem;
  font-weight: 700;
  text-decoration-line: none;
  letter-spacing: 0.5px;
  color: var(--clr-neutral-300);
}

.fa-github {
  font-size: 1.38rem;
  transition: transform 0.4s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);

  border: 24px 24px 24px 24px solid red;
}
